* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-background: rgb(14, 14, 14);
  --color-logo: rgb(255, 91, 80);
  --card-color: rgb(37, 37, 37);
  --text-color: rgb(255, 255, 255);
  --subtitle-color: rgb(90, 87, 87);
  --black-text: rgb(0, 0, 0);
  --color-input: rgb(13, 13, 13);
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  width: 144rem;

  margin-inline: auto;
}

body {
  padding-top: 6rem;

  background-image: url(./assets/background.png);
  background-repeat: no-repeat;

  background-color: var(--body-background);
}

header,
#home,
#popular,
#bestArtists,
footer {
  padding-inline: 8.5rem;
}

ul li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button,
.astronaut div img {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 6rem;
  align-items: center;
}

header nav ul li {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
}

header button {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  padding: 1.4rem 2.2rem;

  background-color: var(--text-color);

  border: none;

  color: var(--black-text);
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

main {
  padding-top: 9.7rem;
}

.container {
  display: grid;
  align-items: center;
  gap: 4rem;

  grid-template-columns: 31% 47% 1fr;

  margin-bottom: 10rem;
}

.container .content p {
  margin-bottom: 5.5rem;
  margin-top: 0.1rem;
}

.container .content p,
#info .posts .post p,
#info .posts .post a {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.container .content div {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}

.container .content div p {
  margin-bottom: 0;
}

.container .content span {
  font-weight: 700;
}

h1 {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 700;
}

h1 span,
#info .posts .post p a,
.astronaut span:last-child,
h2 span,
.artist p span,
h3 span {
  color: var(--color-logo);
}

.gallery {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

.gallery img {
  margin-inline: 0.8rem;
  border: 1px solid var(--text-color);
}

.gallery img:nth-child(-n + 4) {
  margin-bottom: 4.1rem;
}

#info {
  display: grid;
  grid-template-areas:
    'aside posts'
    'aside image';
  grid-template-columns: 19% 81%;
  grid-template-rows: 55% 45%;

  height: 66rem;
}

#info .aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  gap: 7rem;

  align-items: center;
  justify-content: left;

  padding: 13.36rem 0 0 8.9rem;

  border-bottom: 0.4rem solid var(--subtitle-color);
  border-right: 0.4rem solid var(--subtitle-color);
}

#info .aside p,
.artist p {
  font-weight: 700;
  color: var(--subtitle-color);
  font-size: 2rem;
  text-align: center;
  align-self: flex-start;
}

#info .aside p span,
h2 {
  color: var(--text-color);
  font-size: 5rem;
}

#info .posts {
  grid-area: posts;

  padding: 7.96rem calc(13.8rem - 8.5rem) 7.9rem 6.8rem;

  display: flex;
  gap: 12.6rem;
}

#info .posts .post p {
  margin-bottom: 6.3rem;
}

#info .posts .post p span {
  color: var(--color-logo);
  text-decoration: underline;
}

#info .image {
  grid-area: image;

  background-image: url(./assets/banner.png);
}

#popular {
  padding-block: 15rem;
}

.astronauts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 17rem;
}

.astronaut:nth-child(odd) {
  border-right: 0.1rem solid var(--subtitle-color);

  padding-right: 27.7rem;
}

.astronaut:nth-child(even) {
  padding-left: 27.7rem;
}

.astronaut:nth-child(-n + 2) {
  padding-bottom: 6.3rem;
}

.astronaut div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.astronaut div:nth-child(1) {
  margin-bottom: 4.4rem;
}

.astronaut div:nth-child(2) {
  margin-bottom: 2.6rem;
}

.astronaut h4,
h3 {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 500;
}

.astronaut span,
.left input::placeholder,
.left button,
.right ul li,
.right ul li a,
.right ul li:nth-child(1),
.bottom a {
  color: var(--subtitle-color);
  font-size: 2rem;
  font-weight: 700;
}

.astronautPic {
  min-width: 100%;
}

#bestArtists {
  margin-bottom: 15.6rem;
}

#bestArtists h2 {
  text-align: center;

  margin-bottom: 12rem;
}

.artists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11.1rem;
}

.artist {
  background-color: var(--card-color);
  padding: 2.5rem 3.2rem;

  display: flex;
  gap: 4rem;

  cursor: pointer;

  transition: background 0.3s;
}

.artist p {
  font-weight: 500;
  text-align: left;
  align-self: center;
  line-height: 3rem;
}

.artist:hover {
  background-color: var(--color-logo);

  transition: background 0.3s;
}

.artist:hover p,
.artist:hover p span {
  color: var(--text-color);
}

.allArtists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  margin-top: 6.3rem;

  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;

  cursor: pointer;
}

footer {
  background-color: var(--card-color);

  display: grid;
  grid-template-areas:
    'footerTop footerTop'
    'footerLeft footerRight'
    'footerBottom footerBottom';
  grid-template-columns: 38% 62%;
}

.top {
  grid-area: footerTop;

  padding-block: 10.2rem 7.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1rem solid var(--subtitle-color);
}

.top a {
  padding: 2.9rem;
  background-color: var(--color-logo);
}

.left {
  grid-area: footerLeft;

  padding-block: 6.7rem 8.2rem;

  border-right: 0.1rem solid var(--subtitle-color);
}

.left form {
  display: flex;
  align-items: center;

  margin-top: 2.5rem;
}

.left input {
  background-color: var(--color-input);

  width: 28rem;
}

.left input::placeholder,
.right ul li,
.right ul li a,
.bottom a {
  font-weight: 400;
}

.left input,
.left button {
  padding-inline: 2.5rem;
  border: none;

  height: 6.6rem;
}

.left button {
  background-color: var(--text-color);

  color: var(--black-text);
}
.right {
  grid-area: footerRight;

  padding: 7.5rem calc(19rem - 8.5rem) 5.3rem 12.2rem;

  display: flex;
  justify-content: space-between;
}

.right ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right ul li:nth-child(1) {
  color: var(--text-color);
}

.bottom {
  grid-area: footerBottom;

  padding-block: 8rem 6.1rem;

  border-top: 0.1rem solid var(--subtitle-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom .socialLinks {
  display: flex;
  gap: 5rem;
  align-items: center;
}
