* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-background: rgb(14, 14, 14);
  --color-logo: rgb(255, 91, 80);
  --card-color: rgb(37, 37, 37);
  --text-color: rgb(255, 255, 255);
  --subtitle-color: rgb(90, 87, 87);
  --black-text: rgb(0, 0, 0);
  --color-input: rgb(13, 13, 13);
}

html,
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 6rem 8.5rem;

  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
}

ul li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 6rem;
  align-items: center;
}

header nav ul li {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
}

header button {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  padding: 1.4rem 2.2rem;

  background-color: var(--text-color);

  border: none;
}
