* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-bg-color: rgb(220, 228, 227);
  --green: rgb(24, 194, 156);
  --light-green: rgb(142, 215, 198);
  --light-grey: rgb(220, 228, 227);
  --text-color: rgb(8, 66, 54);
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;

  display: grid;
  grid-template-areas: 'sidebar dashboard';
  grid-template-columns: 25rem 1fr;
}

#sidebar,
#dashboard {
  padding-top: 2.4rem;
  height: 100vh;
}

#menu,
#logOut {
  cursor: pointer;
}

#sidebar {
  grid-area: sidebar;

  background-color: var(--green);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar .container,
#sidebar footer {
  padding-inline: 1.4rem;
}

#sidebar header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.7rem;
}

#sidebar header,
.item {
  padding-left: 1.3rem;
}

.menuItens {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding-block: 1.4rem;

  cursor: pointer;
}

.item span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
}

#search {
  background-color: var(--light-green);
  border-radius: 1.2rem;
}

#sidebar footer {
  background-color: var(--light-green);

  padding-block: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sidebar footer #user {
  display: flex;
  gap: 0.9rem;
}

#sidebar footer #user #userName,
#sidebar footer #user #position {
  color: var(--text-color);
  font-weight: 400;
}

#sidebar footer #user #userName {
  font-size: 1.5rem;
}

#sidebar footer #user #position {
  font-size: 1.2rem;
}

#userImg {
  width: 4.5rem;
  border-radius: 1.2rem;
}

#dashboard {
  grid-area: dashboard;

  padding-left: 1.8rem;
  padding-right: 1.4rem;

  background-color: var(--body-bg-color);
}

#dashboard h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.8rem;
  color: var(--text-color);
}
