* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-bg-color: rgb(220, 228, 227);
  --green: rgb(24, 194, 156);
  --light-green: rgb(142, 215, 198);
  --light-grey: rgb(220, 228, 227);
  --text-color: rgb(8, 66, 54);
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;

  display: grid;
  grid-template-areas: 'sidebar dashboard';
  grid-template-columns: 25rem 1fr;
}

#sidebar,
#dashboard {
  padding-top: 2.4rem;
  height: 100vh;
}

#sidebar {
  grid-area: sidebar;

  padding-inline: 1.4rem;
}

#userImg {
  width: 4.5rem;
  border-radius: 1.2rem;
}

#dashboard {
  grid-area: dashboard;

  padding-left: 1.8rem;
  padding-right: 1.4rem;

  background-color: var(--body-bg-color);
}

#dashboard h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.8rem;
  color: var(--text-color);
}
