* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --black: rgb(77, 76, 89);
  --purple: rgb(108, 99, 255);
  --light-grey: rgb(200, 200, 200);
  --text-color: rgb(156, 154, 182);
}

body,
html {
  width: 136.6rem;
  font-family: 'Poppins', sans-serif;
  margin-inline: auto;
}

body::before {
  content: url(./assets/top-image.svg);
  position: absolute;
}

body {
  display: grid;
  grid-template-areas: 'main aside';
  gap: 8.2rem;

  padding: 15rem 6rem 18.6rem 12.3rem;

  position: relative;
}

body::after {
  content: url(./assets/bottom-image.svg);
  position: absolute;
  bottom: 0;
}

main {
  grid-area: main;
  width: 49.4rem;

  padding: 5.4rem 0 3.9rem;
}

main header h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.4rem;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: var(--purple);

  padding-bottom: 1.9rem;
}

#countdown {
  display: flex;

  justify-content: space-between;

  padding-bottom: 1.6rem;
}

#countdown .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdown .time .text {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.1rem;
  color: var(--light-grey);

  text-transform: capitalize;
}

#countdown .time .number {
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 10.8rem;

  color: var(--black);
}

footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 3.1rem;
}

footer p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--text-color);
}

footer button {
  width: 16rem;
  height: 4.6rem;

  background-color: var(--purple);

  border: none;
  border-radius: 1rem;

  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;

  cursor: pointer;

  transition: background 0.3s;
}

footer button:hover {
  background-color: rgba(108, 99, 255, 0.8);

  transition: background 0.3s;
}

aside {
  grid-area: aside;
}
