* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --button: rgb(255, 0, 0);
  --gallery-background: rgb(196, 196, 196);
  --background: rgb(229, 229, 229);
  --text: rgb(0, 0, 0);
  --footer: rgb(0, 0, 0);
  --text-description: rgb(156, 150, 150);
}

html,
body {
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button,
header nav ul li img {
  cursor: pointer;
}

body {
  display: grid;

  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';

  grid-template-columns: 37.5% 62.5%;
  grid-template-rows: 9rem 1fr 17rem;

  background-color: var(--background);
}

header {
  grid-area: header;
  margin: 3.9rem 6rem 0 6rem;
  height: fit-content;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li span {
  color: var(--text);

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;

  cursor: pointer;
}

header nav ul li input {
  padding: 1.4rem 0 0.8rem 4.2rem;
  border: none;

  background-image: url(./assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position-x: 1.3rem;
  background-position-y: 1.4rem;
}

header nav ul li input,
header nav ul li input::placeholder {
  color: var(--text-description);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

main {
  grid-area: main;

  padding: 10.3rem 7.2rem 0 11.1rem;
}

main h1 {
  text-transform: capitalize;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--text);

  padding-bottom: 2.1rem;
}

main p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: var(--text-description);

  padding-bottom: 2.1rem;
}

main h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.7rem;
  color: var(--text);

  padding-bottom: 3rem;
}

main button {
  padding: 3.3rem 8rem;
  border: none;
  background-color: var(--button);

  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-transform: uppercase;
}

aside {
  grid-area: aside;

  background-color: var(--gallery-background);
}

footer {
  grid-area: footer;
}
