* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg: rgb(0, 0, 0);
  --bg-card: rgb(13, 17, 22);
  --text: rgb(242, 242, 242);
  --img-profile: rgb(130, 87, 229);
  --buttons: rgb(255, 255, 255);
  --border-button: rgb(26, 26, 26);
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Prompt', sans-serif;

  background-color: var(--bg-card);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  padding-block: 10.6rem 14.1rem;
}

ul li {
  list-style: none;
}

.logo {
  width: 5.54rem;
}

.card {
  border-radius: 5rem;

  background-color: var(--bg-card);

  width: 40.7rem;
  height: 64.4rem;
  margin-inline: auto 3rem;

  position: relative;
}

.card header {
  padding-top: 3.78rem;
  padding-left: 3.36rem;

  margin-bottom: 26.6rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.card header .logo {
  border: 1px solid var(--text);
  border-radius: 50%;

  padding: 1rem;
}

#userLogin {
  color: var(--buttons);
  font-size: 2.4rem;
  font-weight: 400;
}

.frame {
  width: 33.1rem;
  height: 41.8rem;

  position: absolute;
  top: 13.4rem;
  right: 0;

  overflow: hidden;
  padding-top: 2rem;
}

#avatar {
  border: 1rem solid var(--img-profile);
  border-radius: 50%;
}

.bgCard {
  position: absolute;
  z-index: -1;
  right: calc(50% + 1.5rem);

  width: 43.8rem;
  height: 69.3rem;

  border-radius: 5rem;

  background-color: blue;
}
