* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg: rgb(0, 0, 0);
  --bg-card: rgb(13, 17, 22);
  --text: rgb(242, 242, 242);
  --img-profile: rgb(130, 87, 229);
  --buttons: rgb(255, 255, 255);
  --border-button: rgb(26, 26, 26);
}

html,
body {
  width: 100%;

  font-family: 'Prompt', sans-serif;

  background-color: var(--bg-card);
}
